<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <script type="text/javascript" src="/assets/application.js"></script>
        {% if edit %} <script type="text/javascript" src="/assets/edit.js"></script> {% endif %}
        <link rel="stylesheet" href="/assets/application.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="icon" href="/assets/images/favicon.ico">
    </head>
    <body>
        <div id="container">
            <div class="gridster">
                <ul>
                    {% for w in widgets %}
                    <li data-row="{{w.get('row')}}" data-col="{{w.get('col')}}" data-sizex="{{w.get('x')}}" data-sizey="{{w.get('y')}}">
                        {% if edit %}
                        <header>
                            <drag style="cursor: move;"><i class="fa fa-arrows"></i></drag>
                            <a onclick="Dashing.edit('{{w._strId}}')"><i class="fa fa-cog fa-2x" style="float: right;"></i></a>
                        </header>
                        {% endif %}
                        {{w.render()|safe}}
                        {% if w.get('icon') %}
                        <i class="fa fa-{{w.get('icon')}} icon-background"></i>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div data-id="dashing-internal-functions" data-view="DashingInternal" style="visibility: hidden"></div>
        <div id="saving-message">Saving ...</div>
        <a id="save-gridster" href="#saving-message">
            Save this layout
        </a>
    </body>
</html>
