#save-gridster {
  display: none;
  position: fixed;
  top: -40px;
  margin: 0px auto;
  left: 50%;
  z-index: 1000;
  background: black;
  width: 190px;
  text-align: center;
  border: 1px solid white;
  border-top: 0px;
  margin-left: -95px;
  padding: 15px; }

#save-gridster:hover {
  padding-top: 45px; }

#saving-message {
  display: none;
  position: fixed;
  top: 0;
  margin: 0px auto;
  left: 50%;
  z-index: 1000;
  background: black;
  width: 100%;
  text-align: center;
  border: 1px solid white;
  margin-left: -95px;
  padding: 15px;
 }

.icon-background {
  opacity: 0.2;
  font-size: 200px;
  line-height: 150px;
}

.gridster {
    position:relative;
}

.gridster li header {
    position: absolute;
    top: 2px;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 5px;
    z-index: 10;
    font-size: 12px;
}